:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Open Sans", sans-serif;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
body {
  font-family: var(--default-font-family);
  color: white;
}
p {
  font-family: var(--default-font-family);
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  line-height: 30px;
}
.first_paragraph {
  font-family: var(--default-font-family);
  color: #f9f7fe;
  text-shadow: 0 0 10px #ffffff;
  font-size: 70px;
  font-weight: 700px;
}
nav {
  padding: 20px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: #f9f7fe;
  text-shadow: 0 0 10px #ffffff;
  border-bottom: white solid;
}

.hero {
  background: linear-gradient(
    315deg,
    black rgb(48, 92, 238) 3%,
    rgba(255, 25, 25, 1) 38%,
    rgb(48, 92, 238) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  opacity: 100%;
  text-align: center;
  padding: 80px 20px;
  color: #f9f7fe;
  text-shadow: 0 0 10px #ffffff;
  border-top: white solid;
  border-bottom: white solid;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  color: 272142;
}
.CV .btn-branding {
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: -40px;
}
.content-container {
  padding: 60px 20px;
  border-top: white solid;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-container h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: whitesmoke;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 2px 60px;
}
.logo {
  max-height: 40px;
}
.Projects {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
nav a {
  font-size: 12px;
}
footer {
  margin: 60px 0;
  color: white;
}
footer .email-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
footer .contact-box {
  border: var(--secondary-color) solid;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

body {
  margin: auto;
  font-family: var(--default-font-family);
  overflow-x: hidden;
  background: linear-gradient(
    315deg,
    rgb(48, 92, 238) 3%,
    rgba(255, 25, 25, 1) 38%,
    rgb(48, 92, 238) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
.cube-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  perspective: 1000px;
}

.cube {
  position: relative;
  width: 70vw;
  height: 70vw;
  max-width: 200px;
  max-height: 200px;
  transform-style: preserve-3d;
  animation: rotateYcircle 40s linear infinite;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.front {
  transform: translateZ(50vw);
}
.back {
  transform: rotateY(180deg) translateZ(50vw);
}
.right {
  transform: rotateY(90deg) translateZ(50vw);
}
.left {
  transform: rotateY(-90deg) translateZ(50vw);
}

@keyframes rotateYcircle {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.carousel {
  width: 100%;
  overflow: hidden; /* hide scrollbar */
  display: flex;
  gap: 10px;
  margin: 50px auto;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  animation: spin 30s linear infinite;
  padding-right: 1em;
}
.card {
  flex: 0 0 auto;
  width: 350px;
  height: 350px;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 26px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .card {
    max-width: 200px;
    max-height: 200px;
  }
}

.face {
  width: 100%;
  height: 100%;
}
.front {
  transform: translateZ(150px);
}
.back {
  transform: rotateY(180deg) translateZ(150px);
}
.right {
  transform: rotateY(90deg) translateZ(150px);
}
.left {
  transform: rotateY(-90deg) translateZ(150px);
}
